<div class="text-bg-old_paper">
    <h1 class="card list-group-flush text-bg-dark p-3">
        <u>Biography of {{name}}</u>
    </h1>
    <main>
        <section>

            <h1 class="card text-bg-old_paper_title p-3 mb-5">{{name}}</h1>


            <div class="card text-bg-old_paper my-5">
                <div class="card-header">
                    Was born in {{birthdate}}, in the city {{birthplace}}.
                    <br>
                    Died in {{deathdate}}, in the city {{deathplace}}.
                </div>
                <div class="card-body">
                    <div class="my-3">
                        <b>{{name}}</b> was {{nationality}} by nationality.
                    </div>
                    <p>
                        <b>Occupation</b> {{occupation}}.
                    <p>
                        <b>Known for</b> {{#each known_for}}
                        {{this}},
                        {{/each}}
                    </p>

                    {{#each education}}
                    <b>He received</b> a {{degree}}
                    in the field of {{field}},
                    from the {{ institution}} in
                    {{year}} year.
                    {{/each}}
                    <p>
                </div>
            </div>


            <h3 class="card text-bg-old_paper_title p-3"><i>List of scientific publications:</i></h3>
            <section>
                <ul class="list-group my-3">
                    <li class="list-group-item p-3 text-bg-old_paper_title">
                        <b>Notable publications</b> {{notable_publications.[0].title}}.
                        <br>
                        <b>Year</b> {{notable_publications.[0].year}}.
                        <br>
                        <b>Publisher</b> {{notable_publications.[0].publisher}}.
                    </li>
                    <li class="list-group-item p-3 text-bg-old_paper_title">
                        <b>Notable publications</b> {{notable_publications.[1].title}}.
                        <br>
                        <b>Year</b> {{notable_publications.[1].year}}.
                        <br>
                        <b>Publisher</b> {{notable_publications.[1].publisher}}.
                    </li>
                </ul>
            </section>

            <h3 class="card text-bg-old_paper_title p-3"><i> Relationships:</i></h3>

            <div class="card text-bg-old_paper my-5 p-3">
                <p>During lifetime, <i>{{name}}</i> got married twice.</p>
                <p> His {{partners.[0].relationship}} was to <i>{{partners.[0].name}}</i>,
                    {{partners.[0].years}} years.</p>
                <p> And {{name}} {{partners.[1].relationship}} <i>{{partners.[1].name}}</i>,
                    {{partners.[0].years}} years.</p>
            </div>

            <h2 class="card text-bg-old_paper_title p-3">Award</h2>
            <div class="card text-bg-old_paper my-3">
                <div class="card-header p-3">
                    {{#each awards}}
                    <strong>{{title}}</strong>
                </div>
                <div class="card-body list-group-flush my-3">
                    {{year}} year,
                    {{description}}.
                    {{/each}}
                </div>

                <div class="card-header p-2">
                    <b>Influences by</b>
                </div>
                <ul class="list-group list-group-flush">
                    {{#each influences}}
                    <li class="list-group-item text-bg-old_paper ps-5 my-1">{{this}}</li>
                    {{/each}}
                </ul>

                <div class="card-header p-2">
                    <b>Influences by</b>
                </div>
                <ul class="list-group list-group-flush">
                    {{#each influenced}}
                    <li class="list-group-item text-bg-old_paper ps-5 my-1">{{this}}</li>
                    {{/each}}
                </ul>
            </div>


            <h3 class="card text-bg-old_paper_title p-3"><i>Quotes:</i></h3>


            <ul class="list-group text-center mb-5">
                {{#each quotes}}
                <li class="list-group-item text-bg-old_paper_title p-4">"{{this}}"</li>
                {{/each}}
            </ul>


            <h2 class="card text-bg-old_paper_title p-3">Major Discoveries</h2>

            <div class="card text-bg-old_paper my-5">
                <div class="card-header">
                    {{#each major_discoveries}}
                    <i><b>{{title}}</b></i>
                    {{year}} year
                </div>
                <div class="p-3">
                    {{description}}
                    {{/each}}
                </div>
            </div>

            <div class="card text-bg-old_paper mb-5">
                <h2 class="card-header text-bg-old_paper_title p-3">Contributions</h2>
                <div class="card-body p-5">
                    {{#with contributions}}
                    <i>
                        <b>{{title}}</b>:
                        <b>Description:</b> {{description}}
                        {{year}} year,
                        The field of {{field}}
                    </i>.
                    {{/with}}
                </div>
            </div>
        </section>
    </main>
</div>