<body>
  <main>

    <div class="mb-3">
      <hr>
    </div>

    <section>
      <div class="nav">
        {{#with navigation}}

        <div class="nav-item">
          <a href="{{links.[0].href}}" class="nav-link">{{links.[0].text}}</a>
        </div>

        <div class="nav-item">
          <a href="{{links.[1].href}}" class="nav-link">{{links.[1].text}}</a>
        </div>

        <div class="nav-item">
          <a href="{{links.[2].href}}" class="nav-link">{{links.[2].text}}</a>
        </div>

        {{/with}}
      </div>
    </section>

    <div class="mb-4">
      <hr>
    </div>


    <section class="p-2">
      {{#with newsBlock}}
      <h1 class="text-center pb-5">{{title}}</h1>


      <div class="row g-1">

        <div class="card col-3 text-bg-secondary row gx-0 list-group-flush">
          <h6 class="card-header text-bg-dark">
            {{cards.[0].title}}
            <img src="/svg/newspaper.svg">{{> newsBlock_merge}}
          </h6>

          <div class="card-body">
            <p>{{cards.[0].description}}</p>
          </div>
        </div>

        <div class="card col-3 text-bg-secondary row gx-0 list-group-flush">
          <h6 class="card-header text-bg-dark">
            {{cards.[0].title}}
            <img src="/svg/newspaper.svg">{{> newsBlock_merge}}
          </h6>

          <div class="card-body">
            <p>{{cards.[0].description}}</p>
          </div>
        </div>



        {{!-- <div class="card col-3 text-bg-secondary row gx-0 list-group-flush">
          <h6 class="card-header text-bg-dark">
            {{cards.[0].title}}
            <img src="/svg/newspaper.svg">{{> newsBlock_0}}
          </h6>

          <div class="card-body">
            <p>{{cards.[0].description}}</p>
          </div>
        </div>



        <div class="card col-3 text-bg-secondary row gx-0 list-group-flush">
          <h6 class="card-header text-bg-dark">
            {{cards.[1].title}}
            <img src="/svg/newspaper.svg">{{> newsBlock_1}}
          </h6>

          <div class="card-body">
            <p>{{cards.[1].description}}</p>
          </div>
        </div>


        <div class="card col-3 text-bg-secondary row gx-0 list-group-flush">
          <h6 class="card-header text-bg-dark">
            {{cards.[2].title}}
            <img src="/svg/newspaper.svg">{{> newsBlock_2}}
          </h6>

          <div class="card-body">
            <p>{{cards.[2].description}}</p>
          </div>
        </div>


        <div class="card col-3 text-bg-secondary row gx-0 list-group-flush">
          <h6 class="card-header text-bg-dark">
            {{cards.[3].title}}
            <img src="/svg/newspaper.svg">{{> newsBlock_3}}
          </h6>

          <div class="card-body">
            <p>{{cards.[3].description}}</p>
          </div>
        </div>


        <div class="card col-3 text-bg-secondary row gx-0 list-group-flush">
          <h6 class="card-header text-bg-dark">
            {{cards.[4].title}}
            <img src="/svg/newspaper.svg">{{> newsBlock_4}}
          </h6>

          <div class="card-body">
            <p>{{cards.[4].description}}</p>
          </div>
        </div>


        <div class="card col-3 text-bg-secondary row gx-0 list-group-flush">
          <h6 class="card-header text-bg-dark">
            {{cards.[5].title}}
            <img src="/svg/newspaper.svg">{{> newsBlock_5}}
          </h6>

          <div class="card-body">
            <p>{{cards.[5].description}}</p>
          </div>
        </div>


        <div class="card col-3 text-bg-secondary row gx-0 list-group-flush">
          <h6 class="card-header text-bg-dark">
            {{cards.[6].title}}
            <img src="/svg/newspaper.svg">{{> newsBlock_6}}
          </h6>

          <div class="card-body">
            <p>{{cards.[6].description}}</p>
          </div>
        </div>


        <div class="card col-3 text-bg-secondary row gx-0 list-group-flush">
          <h6 class="card-header text-bg-dark">
            {{cards.[7].title}}
            <img src="/svg/newspaper.svg">{{> newsBlock_7}}
          </h6>

          <div class="card-body">
            <p>{{cards.[7].description}}</p>
          </div>
        </div> --}}

      </div>

      {{/with}}
    </section>



    <section>
      {{#with goodsBlock}}

      {{> goodsBlock}}

      {{cards.[0].image}}

      {{/with}}
    </section>



    <section>

    </section>



    <section>

    </section>

  </main>
</body>