{{#with page_header}}
<h1 class="text-center">{{title}}</h1>
<p class="text-center">{{description}}</p>

<main class=" card">
    <div class="card-body row g-6">
        <section class="row g-4">
            <div class="text-center display-6">

            </div>
            {{/with}}
        </section>


        <section class="card row g-1 col-12">
            <div class="card-body">
                {{#with section}}
                {{#with about_us}}
                {{#with title_list}}
                <div class="card-title display-6 text-end">
                    {{main}}
                </div>
                <h2 class="text-end">{{sub}}</h2>

                {{/with}}
                <div class="btn btn-light btn-sm btn-outline-info" href="#">
                    {{#with button}} {{text}} {{/with}}
                </div>
                {{/with}}
        </section>



        <div class="row g-3">
            <section class="col-12 list-group-flush">

                {{#with advantage}}
                <p class="display-5">{{title}}</p>

                <div class="card list-group-flush">
                    <div class="card-body row g-1 list-group-flush">

                        <section class="card list-group-flush">
                            <div class="card-body ">
                                {{#with efficiency}}
                                <p class="card-title display-4">{{title}}</p>
                                <p class="card-title">{{sub_title}}</p>
                                <p class="card-title">{{description}}</p>
                                <button class="btn btn-light btn-sm btn-outline-warning">{{button}}</button>
                                {{/with}}
                            </div>
                        </section>

                        <section class="card list-group-flush">
                            <div class="card-body">
                                {{#with innovation}}
                                <p class="card-title display-4 text-center">{{title}}</p>
                                <p class="card-title text-center">{{sub_title}}</p>
                                <p class="card-title text-center">{{description}}</p>
                                <button class="btn btn-light btn-sm btn-outline-warning">{{button}}</button>
                                {{/with}}
                            </div>
                        </section>

                        <section class="card list-group-flush">
                            <div class="card-body">
                                {{#with collaboration}}
                                <p class="card-title display-4 text-end">{{title}}</p>
                                <p class="card-title text-end">{{sub_title}}</p>
                                <p class="card-title text-end">{{description}}</p>
                                <button class="btn btn-light btn-sm btn-outline-warning">{{button}}</button>
                                {{/with}}
                            </div>
                        </section>
                    </div>
                </div>
                {{/with}}


                {{#with agreement}}

                <p class="display-5">{{title}}</p>

                {{#with info}}

                <div class="card-footer">
                    <h5>{{sub_title}}</h5>

                    {{#with detail}}

                    <p>{{text}}</p>
                    <button class="btn btn-success btn-sm">{{button}}</button>
                </div>


                {{/with}}
                {{/with}}
                {{/with}}
            </section>

        </div>
        {{/with}}
    </div>
</main>