<main>
    <section>
        {{#with heading}}
        <div class="card">
            <div class="card-body">
                {{#with main}}
                <h1>{{title}}</h1>
                <p>{{text}}</p>

                {{#with button_text}}
                <p>
                    <a class="btn btn-primary">
                        {{solid}}
                    </a>
                </p>
                <button class="btn btn-outline-primary">{{outline}}</button>
            </div>
        </div>
        {{/with}}

        {{/with}}
    </section>

    <section>
        {{#with second}}
        <div class="card">
            <div class="card-body">
                <h2>{{title}}</h2>
                <p>{{text}}</p>

                {{#with button_text}}

                <p>
                    <a class="btn btn-secondary">{{solid}}</a>
                </p>
                <button class="btn btn-outline-secondary">{{outline}}</button>
            </div>
        </div>
        {{/with}}
        </div>
        {{/with}}
    </section>

    <section>
        {{#with subblock}}
        <div class="card">
            <div class="card-body">
                <h3>{{title}}</h3>
                <p>{{text}}</p>

                {{#with button_text}}

                <p>
                    <a class="btn btn-dark">{{solid}}</a>
                </p>
                <button class="btn btn-outline-dark">{{outline}}</button>
            </div>
        </div>
        {{/with}}

        {{/with}}
    </section>
    {{/with}}

    <section>
        {{#with nested_display}}
        <p class="display-1">{{title}}</p>

        {{#with children_display}}
        <div class="card">
            <div class="card-body">

                <div class="card">
                    <div class="card-body">
                        <p class="card-text display-4">{{title}}</p>
                        <p class="card-text">{{text}}</p>
                        <a class="btn btn-outline-warning">
                            {{#with button}}
                            {{text}}
                            {{/with}}
                        </a>
                    </div>
                </div>


                {{/with}}

                <h6>{{header_text}}</h6>
                <a class="btn btn-info">
                    {{#with button}}
                    {{text}}
                    {{/with}}
                </a>
            </div>
        </div>


        {{/with}}
    </section>

    <section>

        {{#with paragraph}}
        <div class="card">
            <div class="card-body">
                <p class="text-uppercase">{{title}}</p>
                <p>{{text}}</p>
                {{#with children_display}}

                <p class="card-text display-4">{{title}}</p>
                <p class="card-text text-uppercase">{{text}}</p>
                <a class="btn btn-primary">
                    {{#with button}}
                    {{text}}
                    {{/with}}
                </a>

                {{/with}}

                <a class="btn btn-link">
                    {{#with button}}
                    {{text}}:
                    {{url}}
                    {{/with}}
                </a>
                <br>
                <br>
                <ul class="list-group">
                    {{#each list_name}}
                    <li class="list-group-item">
                        {{text}}: <a href="#" alt=>{{url}}</a>
                        {{/each}}
                    </li>
                </ul>

            </div>
        </div>

        {{/with}}
    </section>


</main>