{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="text-bg-dark">
  {{#with main}}
  <main>
    <section>
      <div class="text-center mt-3">
        {{> title data="Work History" big=true}}
      </div>

      <div>
        <ul>
          {{#each works}}
          <li class="card text-bg-secondary p-4">
            <div class="card text-center text-bg-light">
              <h3 class="my-3">{{position}}</h3>
            </div>
            <div class="my-3">
              {{#with duration}}
              {{from}} - {{#if to}} {{to}} {{else}} <div class="badge bg-primary rounded p-2">досі працюємо</div>
              {{/if}}
              {{/with}}
            </div>

            <div class="my-3">
              {{#if company.url}}
              {{> link text=company.name href=company.url blank=true noLine=true}}
              {{else}}
              <h4>{{company.name}}</h4>
              {{/if}}
            </div>

            <div class="my-3">
              <strong>Projects:</strong>
              <div class="badge bg-warning rounded p-2">{{projectAmount}}</div>
            </div>

            <div class="card text-bg-light pb-5 ps-3">
              {{#each projects}}
              <div>
                <div class="mt-3">
                  <a href="{{url}}" class="btn btn-success btn-lg">{{name}}</a>
                </div>
                <div class="pt-3">
                  <p>{{about}}</p>
                </div>

                <div class="mt-4">
                  <ul class="list-group">

                    <li class="list-group-item active col-4">
                      <b>Project stacks</b>
                      <div class="badge bg-warning rounded p-2">{{stackAmount}}</div>
                    </li>
                    {{#each stacks}}
                    <li class="list-group-item col-4">{{name}}</li>
                    {{/each}}
                  </ul>
                </div>

                <div class="mt-3">
                  <ul class="list-group">
                    {{#each awards}}
                    <li class="list-group-item col-8">{{name}}</li>
                    {{/each}}
                  </ul>
                </div>

              </div>
              {{/each}}
            </div>

          </li>

          <br>

          {{/each}}

        </ul>
      </div>

    </section>


  </main>
  {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}