<div>
    {{#if blind_spot_monitoring}}
    <p>
        <span>Blind spot monitoring: Yes</span>
    </p>
    {{else}}
    <p>
        <span>Blind spot monitoring: No</span>
    </p>
    {{/if}}

    {{#if rear_cross_traffic_alert}}
    <p>
        <span>Rear cross traffic alert: Yes</span>
    </p>
    {{else}}
    <p>
        <span>Rear cross traffic alert: No</span>
    </p>
    {{/if}}

    {{#if lane_departure_warning}}
    <p>
        <span>Lane departure warning: Yes</span>
    </p>
    {{else}}
    <p>
        <span>Lane departure warning: No</span>
    </p>
    {{/if}}

    {{#if adaptive_cruise_control}}
    <p>
        <span>Adaptive cruise control: Yes</span>
    </p>
    {{else}}
    <p>
        <span>Adaptive cruise control: No</span>
    </p>
    {{/if}}

    {{#if collision_warning}}
    <p>
        <span>Collision warning: Yes</span>
    </p>
    {{else}}
    <p>
        <span>Collision warning: No</span>
    </p>
    {{/if}}













</div>