<div class="col-12 mb-5">
    <div class="nav nav-tabs">

        <div class="nav-item">
            <a href="#" class="nav-link 
            {{#if tabs.[0].isActive}}active{{else}}disabled{{/if}}">
                {{tabs.[0].text}}
            </a>
        </div>
        <div class="nav-item">
            <a href="#" class="nav-link 
            {{#if tabs.[1].isActive}}active{{else}} {{/if}}">
                {{tabs.[1].text}}
            </a>
        </div>
        <div class="nav-item">
            <a href="#" class="nav-link 
            {{#if tabs.[2].isActive}}active{{else}} {{/if}}">
                {{tabs.[2].text}}
            </a>
        </div>
        <div class="nav-item">
            <a href="#" class="nav-link 
            {{#if tabs.[3].isActive}}active{{else}}disabled{{/if}}">
                {{tabs.[3].text}}
            </a>
        </div>

























        {{!-- {{#each tabs}}

        <div class="nav-item">
            <a href="#" class="nav-link active">{{text}}</a>
        </div>
        <div class="nav-item">
            <a href="#" class="nav-link">{{text}}</a>
        </div>
        <div class="nav-item">
            <a href="#" class="nav-link">{{text}}</a>
        </div>
        <div class="nav-item">
            <a href="#" class="nav-link">{{text}}</a>
        </div>

        {{/each}} --}}
    </div>
</div>