<section class="card text-bg-light">
    <div class="nav">
        {{#with navigation}}

        <div class="nav-item">
            <a href="{{links.[0].href}}" class="nav-link">{{links.[0].text}}</a>
        </div>

        <div class="nav-item">
            <a href="{{links.[1].href}}" class="nav-link">{{links.[1].text}}</a>
        </div>

        <div class="nav-item">
            <a href="{{links.[2].href}}" class="nav-link">{{links.[2].text}}</a>
        </div>

        <div class="nav-item">
            <a href="{{links.[3].href}}" class="nav-link">{{links.[3].text}}</a>
        </div>

        {{/with}}
    </div>
</section>

























{{!-- {{#each tabs}}

<div class="nav-item">
    <a href="#" class="nav-link active">{{text}}</a>
</div>
<div class="nav-item">
    <a href="#" class="nav-link">{{text}}</a>
</div>
<div class="nav-item">
    <a href="#" class="nav-link">{{text}}</a>
</div>
<div class="nav-item">
    <a href="#" class="nav-link">{{text}}</a>
</div>

{{/each}} --}}
</div>
</div>